* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.title {
	text-align: center;
	margin: 1.25rem 0 1.875rem 0;
}

.container {
	max-width: 64rem;
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container-description {
	max-width: 43.75rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 1.875rem;
}

.description,
.title-secondary {
	margin-bottom: 0.625rem;
}

.formula,
.description-oms {
	font-weight: 400;
	margin-bottom: 1.25rem;
}

.container-label {
	max-width: 37.5rem;
	width: 100%;
}

.label {
	display: flex;
	flex-direction: column;
}

.input {
	margin: 0.625rem 0 1.25rem 0;
	height: 2.1875rem;
	outline: none;
	border-radius: 0.3125rem;
	border: 1px solid #ccc;
	font-size: 1rem;
	text-align: right;
	padding: 0 0.625rem;
}

.input:focus {
	border: 1px solid rgb(170, 155, 155);
}

.btn-calculate {
	height: 2.1875rem;
	width: 9.375rem;
	text-transform: uppercase;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	background-color: rgb(53, 53, 201);
	font-weight: bold;
	color: #ccc;
	margin-bottom: 3.75rem;
}

.btn-calculate:hover {
	background-color: rgb(31, 31, 141);
}

.result {
	font-size: 2rem;
	font-weight: 500;
	height: 3.75rem;
	margin-bottom: 2.5rem;
	border: 1px solid #ccc;
	padding: 1.25rem 1.875rem;
	width: 100%;
	border-radius: 0.625rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

table,
th,
td {
	border: 1px solid #ccc;
	border-collapse: collapse;
	padding: 0.625rem 0.9375rem;
}

th {
	font-size: 1rem;
}

td {
	font-size: 0.8rem;
}

@media (max-width: 1025px) {
	.container {
		padding: 10px;
	}
}

@media (max-width: 769px) {
	.result {
		font-size: 1.5rem;
	}
}

@media (max-width: 426px) {
	.title {
		font-size: 1.5rem;
		margin: 1rem 1.5rem;
	}

	.description {
		text-align: center;
	}

	.title-secondary {
		font-size: 1.2rem;
	}

	.result {
		font-size: 0.8rem;
	}

	.btn-calculate {
		width: 100%;
	}
}
