* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.title {
	text-align: center;
	margin: 1.25rem 0 1.875rem 0;
}

.container {
	max-width: 64rem;
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container-description {
	max-width: 43.75rem;
	width: 100%;
	margin-bottom: 1.875rem;
}

.description,
.title-formula {
	text-align: center;
	margin-bottom: 0.625rem;
}

.formula {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 400;
}

.container-label {
	max-width: 37.5rem;
	width: 100%;
}

.label {
	display: flex;
	flex-direction: column;
}

.input {
	margin: 0.625rem 0 1.25rem 0;
	height: 2.1875rem;
	outline: none;
	border-radius: 0.3125rem;
	border: 1px solid #ccc;
	font-size: 1rem;
	text-align: right;
	padding: 0 0.625rem;
}

.input:focus {
	border: 1px solid rgb(170, 155, 155);
}

.btn-calculate {
	height: 2.1875rem;
	width: 9.375rem;
	text-transform: uppercase;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	background-color: rgb(53, 53, 201);
	font-weight: bold;
	color: #ccc;
	margin-bottom: 3.75rem;
}

.btn-calculate:hover {
	background-color: rgb(31, 31, 141);
}

.result {
	font-size: 2.5rem;
	font-weight: bold;
}
